<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="anthony.yublog.mapper.ArticleMapper">

    <select id="listArticles" resultType="anthony.yublog.dto.article.response.ArticleItemVO">
        select * from article
        <where>
            <if test="createUser != null">
                create_User = #{createUser}
            </if>
            <if test="categoryId != null">
                and state = #{state}
            </if>
            and category_id = #{categoryId}
        </where>
    </select>
    <!-- 批量更新文章浏览数 -->
    <update id="batchUpdateViewCount">
        UPDATE article
        SET views = views + CASE id
        <foreach collection="list" item="item">
            WHEN #{item.articleId} THEN #{item.views}
        </foreach>
        END
        WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.articleId}
        </foreach>
    </update>


</mapper>
